/* .degrade {
  
    background-image: url("../../assets/img/Fondo4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;
    
    
} */

.titleHeader {
    color:white;
    
}

.fondofooter {
    /* background-color: rgba(90, 90, 85, 0.225); */
    background-color: #323232;
    
}

.footer .footer-links ul a {
    color: white;
}

.header {
    /* box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75); */
    color: #e6e6e6;
    background-color:#323232 ;
}

@media (max-width: 768px) { /* Cambia el valor según el tamaño del breakpoint */
    .logo-bristol {
      display: none; /* Ocultar esta imagen en dispositivos móviles */
    }
  
    .logo-oficial {
      display: block; /* Asegurar que esta imagen se muestre */
    }
  }
  
  /* En vista de escritorio ambas imágenes se muestran */
  @media (min-width: 769px) {
    .logo-oficial {
      display: block;
    }
  
    .logo-bristol {
      display: block;
    }
} 