<div class="degrade">


    <div id="features" class="features section degrade">

        <div class="container section-title" data-aos="fade-up">
            <h2>{{detalleProducto[0].nombre}}</h2>
        </div>
        <br>
        <br>
        <br>

        <div class="container">

            <div class="row gy-4 align-items-stretch justify-content-between features-item ">
                <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
                    <img [src]="detalleProducto[0].imgPrincipal" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">

                    <br>
                    <p align="justify" class="parrafo">
                        {{detalleProducto[0].descripcion}}
                    </p>

                </div>
            </div>



        </div>
    </div>
    <br>

    <div class="container section-title" data-aos="fade-up">
        <h2>Equipos</h2>
    </div>


    <div class="container swiper">
        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let slide of detalleProducto[0].imgs">
                <img [src]="slide" alt="foto" />
            </ng-template>
        </swiper>
    </div>

</div>