/* .degrade {

    background-image: url("../../assets/img/Fondo4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;
    
    
} */

.swiper img {
    border-radius: var(--bs-border-radius) !important;
    /* width: 100% !important; */
    width: 100%     ;
    /* display: block !important;
    padding: 0px;
    margin: 0px; */
    padding: 20px 70px;
    align-self: center;
 

}

