/* .degrade {


    background-image: url("../../assets/img/Fondo4.jpg");
    background-repeat: no-repeat;
    
    opacity: 1;
    
    
} */

.swiper img {
    border-radius: var(--bs-border-radius) !important;
    /* width: 100% !important; */
    width: 100%     ;
    /* display: block !important;
    padding: 0px;
    margin: 0px; */
    padding: 20px 70px;
    align-self: center;
 

}

.titleHeader {
    color:black;
    
}

.fondofooter {
    /* background-color: rgba(90, 90, 85, 0.225); */
    background-color: #d6d6d6;
    
}

.footer .footer-links ul a {
    color: black;
}