
.swiper img {
    border-radius: var(--bs-border-radius) !important;
    /* width: 100% !important; */
    width: 100%     ;
    /* display: block !important;
    padding: 0px;
    margin: 0px; */
    padding: 20px 70px;
    align-self: center;
 

}

.titleHeader {
    color:white;
    
}

.fondofooter {
    /* background-color: rgba(90, 90, 85, 0.225); */
    background-color: #323232;
    
}

.footer .footer-links ul a {
    color: white;
}

.header {
    /* box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75); */
    color: #e6e6e6;
    background-color:#323232 ;
}
