/* .degrade {
  

    background-image: url("../../assets/img/fondo4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;
    
    
} */

.titleHeader {
    color:black;
    
}

.fondofooter {
    /* background-color: rgba(90, 90, 85, 0.225); */
    background-color: #d6d6d6;
    
}

.footer .footer-links ul a {
    color: black;
}