<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
  
      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../../assets/img/Logo-Oficial.png" alt="">
        <!-- <h1 class="sitename">LOGO DE LA EMPRESA</h1><span>.</span> -->
  
  
      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#inicio" class="">Inicio</a></li>
          <li><a href="/quienes-somos" class="">Quienes somos</a></li>
          <!-- <li><a href="index.html#about">About</a></li>
          <li><a href="index.html#services">Services</a></li> -->
          <!-- <li><a href="#portfolio">Productos</a></li> -->
          <!-- <li><a href="index.html#pricing">Pricing</a></li>
          <li><a href="index.html#team">Team</a></li>
          <li><a href="blog.html">Blog</a></li> -->
          <li class="dropdown has-dropdown"><a href="#portfolio"><span>Productos</span> <i
                class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown has-dropdown"><a href=""><span>Equipos</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li ><a href="/detalles?nombre=Equipo de presion constante">De presion constante</a></li> 
                  <li><a href="/detalles?nombre=Equipos contraincendios UL/FM">Contraincendios UL/FM</a></li>
                  <li><a href="/construccion?nombre=Equipos de construción">De construción</a></li>
                </ul>
              </li>
              <li class="dropdown has-dropdown"><a href="#"><span>Diseño y fabricación</span> <i
                    class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="/detalles?nombre=Diseño e instalación de redes contraincendios">Redes contraincendios</a></li>
                </ul>
              </li>
              <li><a href="/detalles?nombre=Plantas electricas">Plantas electricas</a></li>
              
  
            </ul>
          </li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
  
      <!-- <a class="btn-getstarted" href="index.html#about">Empezar</a> -->
  
  
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div >
    <div id="faq" class="faq section degrade">
        <div class="container">


            <div class="row gy-4">
    
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="content px-xl-5">
                        <h3>Política de Tratamiento de Datos</h3>
    
                    </div>
                </div>
    
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
    
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span  style="color: #0166d6;" class="num">1. </span> <span style="color: #0166d6;">Introducción</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    <b>AYC INGENIERIA SAS </b>se compromete a proteger la privacidad y los datos personales
                                    de
                                    sus clientes, empleados y proveedores. Esta política establece las directrices para la
                                    recolección, uso, almacenamiento y protección de los datos personales en conformidad con
                                    las leyes y regulaciones aplicables.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">2. </span> <span>Alcance</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Esta política se aplica a todos los datos personales recopilados, procesados y
                                    almacenados
                                    por AYC INGENIERIA SAS así como a todos los empleados y contratistas que manejan
                                    estos datos.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">3. </span> <span>Definiciones</span></h3>
                            <div class="faq-content">
    
                                <ul>
                                    <li> <b>Datos Personales: </b>Cualquier información que se relaciona con una persona
                                        identificada o identificable.</li>
                                    <li> <b>Tratamiento de Datos: </b>Cualquier operación realizada sobre datos personales,
                                        tales
                                        como recolección, almacenamiento, uso, modificación, transferencia o eliminación..
                                    </li>
                                </ul>
    
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">4. </span> <span>Principios</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    <b>AYC INGENIERIA SAS </b>sigue los principios de legalidad, transparencia, finalidad,
                                    minimización de datos, precisión, limitación del plazo de conservación, integridad y
                                    confidencialidad, y responsabilidad proactiva en el tratamiento de datos personales.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">5. </span> <span>Recolección de Datos</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Solo se recolectarán datos personales necesarios para fines específicos, explícitos y
                                    legítimos de control sobre ventas. La recolección se hará de manera justa y
                                    transparente,
                                    informando a los individuos sobre el propósito y el uso de sus datos.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">6. </span> <span>Uso de Datos</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Los datos personales serán utilizados únicamente para los fines para los cuales fueron
                                    recolectados, a menos que se obtenga el consentimiento del titular de los datos para un
                                    uso
                                    diferente o que lo permita la ley.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">7. </span> <span>Almacenamiento y Protección de Datos</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Los datos personales serán almacenados de manera segura, implementando medidas
                                    técnicas y organizativas adecuadas para protegerlos contra accesos no autorizados,
                                    pérdidas
                                    o destrucción. Se mantendrán durante el tiempo necesario para cumplir con los fines para
    
                                    los cuales fueron recolectados, a menos que la ley exija o permita un periodo de
                                    retención
                                    más largo.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">8. </span> <span>Derechos de los Titulares de Datos</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Los titulares de los datos tienen derecho a acceder, rectificar, borrar, limitar el
                                    tratamiento,
                                    oponerse y portar sus datos personales. AYC INGENIERIA SAS facilitará el ejercicio de
                                    estos derechos de manera oportuna y adecuada.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">9. </span> <span>Transferencia de Datos</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Cualquier transferencia de datos personales a terceros será realizada solo si es
                                    necesaria
                                    para los fines establecidos y con las garantías adecuadas de protección de datos. En el
                                    caso
                                    de transferencias internacionales, se asegurará que el país receptor tenga un nivel de
                                    protección adecuado o que existan mecanismos legales de transferencia.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">10. </span> <span>Cumplimiento Legal</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    <b>AYC INGENIERIA SAS </b>cumplirá con todas las leyes y regulaciones aplicables en
                                    materia de protección de datos personales, incluyendo, pero no limitado a, el Reglamento
                                    General de Protección de Datos (GDPR) de la Unión Europea, la Ley de Protección de
                                    Datos Personales (LPDP) en [país aplicable], y otras normativas locales pertinentes.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">11. </span> <span>Actualización de la Política</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Esta política será revisada y actualizada periódicamente para asegurar su adecuación y
                                    cumplimiento con las leyes y regulaciones vigentes. Cualquier cambio significativo será
                                    comunicado a los titulares de los datos.
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
                    <div class="faq-container">
                        <div class="faq-active">
                            <h3><span class="num">12. </span> <span>Contacto</span></h3>
                            <div class="faq-content">
                                <p align="justify">
                                    Para cualquier consulta, queja o solicitud relacionada con el tratamiento de sus datos
                                    personales, los titulares de los datos pueden contactar a <b>AYC INGENIERIA SAS en
                                        administrativo-agroindustrialdelcafe.com o 3001950181</b>
                                </p>
                            </div>
                            <!-- <i class="faq-toggle bi bi-chevron-right"></i> -->
                        </div>
    
    
    
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>
  </div>

  <footer id="footer" class="footer position-relative fondofooter">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            
              <img src="../../assets/img/Logo-Oficial.png" alt="">
            
  
          </a>
          <br>
          <p></p>
          <div class="social-links d-flex mt-6">
  
            <a href="https://www.facebook.com/profile.php?id=61559604615183"><i style="color: white;" class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/aicingenieria/"><i style="color: white;" class="bi bi-instagram"></i></a>
            <a href="/tratamiento-datos"><i style="color: white;" class="bi bi-file-earmark-font"></i></a>
  
          </div>
        </div>
  
        <div class="col-lg-4 col-4 footer-links">
            <h4 class="titleHeader"> <b>Nuestro portafolio</b></h4>
            <h4 class="titleHeader">¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯</h4>
            <ul >
              <li><a href="/detalles?nombre=Plantas electricas">Plantas electricas</a></li>
              <li><a href="/construccion?nombre=Equipos de construción">Equipos de construción</a></li>
              <li><a href="/detalles?nombre=Equipo de presion constante">Equipos de presion constante</a></li>
              <li><a href="/detalles?nombre=Equipos contraincendios UL/FM">Equipos contraincendios UL/FM</a></li>
              <li><a href="/detalles?nombre=Diseño e instalación de redes contraincendios">Diseño e instalación de redes contraincendios</a></li>
            </ul>
          </div>
  
        <div class="col-lg-2 col-6 footer-links">
            <h4 class="titleHeader"> <b> Nuestro sitio web</b></h4>
            <h4 class="titleHeader">¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯</h4>
            <ul>
              <li><a href="/quienes-somos">Quienes somos</a></li>
              <li><a href="#portfolio">Productos</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
      </div>
    </div>
  </footer>