
.titleHeader {
    color:white;
    
}

.fondofooter {
    /* background-color: rgba(90, 90, 85, 0.225); */
    background-color: #323232;
    
}

.footer .footer-links ul a {
    color: white;
}

.header {
    /* box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75); */
    color: #e6e6e6;
    background-color:#323232 ;
}