.boton-flotante {
    position: fixed;
    z-index: 10;
    bottom: 300px;
    /* Ajusta según tu preferencia */
    left: 5px;
    /* Ajusta según tu preferencia */
    background-color: #0166d6;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    /* Agrega estilos adicionales según sea necesario */
}

.likedin {
    bottom: 400px;
    /* Ajusta según tu preferencia */

}

.twitter {
    bottom: 350px;
}





.swiper img {
    border-radius: var(--bs-border-radius) !important;
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen */
    max-height: 100px; /* Ajusta la altura máxima de la imagen */
    object-fit: contain; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se comporte como bloque */
    margin: 0 auto; /* Centra la imagen dentro del slide */
}




.clientes {
    font-size: 40px;
}

.titleHeader {
    color:white;
    
}

.fondofooter {
    /* background-color: rgba(90, 90, 85, 0.225); */
    background-color: #323232;
    
}

.footer .footer-links ul a {
    color: white;
}

.header {
    /* box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75); */
    color: #e6e6e6;
    background-color:#323232 ;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
  }
  
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  /* @media (max-width: 768px) {
    .logo-oficial, .logo-bristol {
      display: none;
    }
}
 */

 @media (max-width: 768px) { /* Cambia el valor según el tamaño del breakpoint */
    .logo-bristol {
      display: none; /* Ocultar esta imagen en dispositivos móviles */
    }
  
    .logo-oficial {
      display: block; /* Asegurar que esta imagen se muestre */
    }
  }
  
  /* En vista de escritorio ambas imágenes se muestran */
  @media (min-width: 769px) {
    .logo-oficial {
      display: block;
    }
  
    .logo-bristol {
      display: block;
    }
} 



